
.account_role, .account_exp{
    width: 200px;
    height: 70px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.account_role{
    grid-row: 3/5;
    grid-column: 2/3;
}

.account_exp{
    grid-row: 3/5;
    grid-column: 2/3;
    justify-self: end;
}

.account_role > h2,
.account_exp > h2{
    margin: 0px;
    color: var(--preset-text-color-red);
    font-family: var(--preset-text-5-font-family);
    font-size: var(--preset-text-5-font-size);
    font-weight: var(--preset-text-5-font-weight);
    line-height: var(--preset-text-5-line-height);
    letter-spacing: var(--preset-text-5-letter-spacing);
}

.account_role > p,
.account_exp > p{
    white-space: nowrap;
    margin: 0px;
    color: var(--preset-text-color-black);
    font-family: var(--preset-text-4-font-family);
    font-size: var(--preset-text-4-font-size);
    font-weight: var(--preset-text-4-font-weight);
    line-height: var(--preset-text-4-line-height);
    letter-spacing: var(--preset-text-4-letter-spacing);
}

.account_input{
    width: 100%;
    height: 40px;
    color: var(--preset-text-color-black);
    font-family: var(--preset-text-4-font-family);
    font-size: var(--preset-text-4-font-size);
    font-weight: var(--preset-text-4-font-weight);
    line-height: var(--preset-text-4-line-height);
    letter-spacing: var(--preset-text-4-letter-spacing);
    flex-shrink: 0;
    background-color: transparent;
    border-radius: 10px;
    border: 3px solid var(--preset-text-color-black);
}

.account_input:focus{
    outline: none;
}