.account_social{
    width: 100%;
    display: flex;
    align-items: center;
    align-self: start;
    gap: 5px;
}

.account_message, .account_share{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 20px;
    background-color: var(--preset-background-1-color);
    font-family: var(--preset-text-5-font-family);
    font-size: var(--preset-text-5-font-size);
    font-weight: var(--preset-text-5-font-weight);
    line-height: var(--preset-text-5-line-height);
    letter-spacing: var(--preset-text-5-letter-spacing);
}

.account_share{
    width: 100px
}

.account_message{
    width: 120px;
}

.account_message > img, 
.account_share > img{
    width: 25px;
    object-fit: contain;
}

.account_message:hover, .account_share:hover{
    background-color: var(--preset-background-1-color-hover);
}

.account_message:active, .account_share:active{
    background-color: var(--preset-background-1-color-active);
}
